@charset "utf-8";

body{
    background-color: aqua;
}
header {
    margin: 0px -5px;
    border: 3px solid rgba(0, 0, 255, 0.616);
    min-width: 90vh;
    min-height: 20vh;
    font-size: 250%;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.616);
}

div.principal {
    min-height: 90vh;
    min-width: 90vh;
    margin: auto;
    border: 3px ;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

img#foto_perfil{
    border: 3px;
    max-height: 35vh;
    max-width: 35vh;
    margin-top: 2%;
    margin-left:30% ;
}

div#para_esquerda {
    border: 3px ;
    justify-content: left;
    min-width: 50%;
}

section.informações {
    margin: 7% 2%;
    border: 2px  ;
    padding: 15px;
    background-color: aquamarine;
}

div#para_direita {
    border: 3px ;
    margin:5% 2%;
    min-width: 40%;
    background-color: aquamarine;
}

section.dados {
    margin: 10% 2%;
    border: 5px ;
    padding: 0%;
    min-width: 30vh;
    background-color: azure;
}
section.dados h1{
    text-align: center;
    padding-top: -10px;
}
section.dados li{
    font-size: 130%;
    list-style: none;
}